{% extends "../base.html" %}

    {% block titulo %} Detalhes Ficha {% endblock %}
    
    {% block content %}
    
        <img src="{{ ficha.foto.url }}" class="card-img-top" width="200" height="200" alt="Image">
        <h1>{{ficha.nome}}</h1>
        <p>{{ficha.descricao}}</p>
        <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-warning" href='/ficha/editar/{{criatura.id}}' type="button">Editar</a>
            <a class="btn btn-danger" href='/ficha/deletar/{{criatura.id}}' type="button">Deletar</a>
        </div>

    {% endblock %}