{% extends "../base.html" %}
{% block css_local %}
<style>
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }
</style>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        
        <!-- Insira aqui a barra de pesquisa -->

        <div class="row">
            {% for criatura in criaturas %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if criatura.foto %}
                    <img src="{{ criatura.foto.url }}" class="card-img-top" alt="Image">
                    {% else %}
                    <img src="https://via.placeholder.com/300" class="card-img-top" alt="Placeholder Image">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ criatura.nome }} ( {{criatura.get_nome_elemento}} - Rank: {{ criatura.rank }} ) </h5>
                        <div class="d-grid gap-2 d-md-block">
                            <a class="btn btn-info" href='/bestiario/{{criatura.id}}' type="button">Detalhes</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
